<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>관리자님 환영합니다</h2>

<!--+결제관리 +매출통계 + 상품등록
+전체상품조회 + 상품 수정 +회원가입-->
<a href="#">결제관리</a>
<a href="#">매출통계</a>
<!--    - 이름, 사진, 가격, 옵션 등을 등록하며 업종에 따라 카테고리를 부여해도 된다
-          화면에 출력하는 순서를 정할 수 있다.-->
<a href="/menuResister">메뉴상품등록</a>
<!--- 매진, 숨기기 또는 작업 완료 전의 상품도 관리자는 볼 수 있다.-->
<a href="/menuList">메뉴전체조회</a>
<!--- 매진, 숨기기, 이름, 사진, 가격 수정, 순서 수정 등의 기능 제공-->
<a href="/admin/adminJoinPage">관리자 회원가입</a>
<a href="/admin/adminLogout">로그아웃</a>

</body>
</html>