<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        #bar-chart {
            width: 500px;
            height: 500px;
        }
    </style>
    <script th:src="@{~/js/jquery.min.js}"></script>
    <!-- chart.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
</head>
<body>
<div class="storecount"></div>

<canvas id="bar-chart-glancePrice"></canvas>
<canvas id="bar-chart-weeklyPrice"></canvas>
<canvas id="bar-chart-monthlyPrice"></canvas>

<script>


    $(document).ready(function () {
        // getTimeStamp();

        var chartData_glance = [];
        var chartLabel_glance = [];
        var chartData_weekly = [];
        var chartLabel_weekly = [];
        var chartData_monthly = [];
        var chartLabel_monthly = [];
        let colorList = [];



        $.ajax({ // $.ajax 와 동일한 표현
            url: '/admin/chart',
            type: 'POST',
            dataType: 'json', //서버에서 보내줄 데이터 타입
            contentType: 'application/json;charset=utf-8',
            success: function (map) {
                console.log(map);
                if (map.complete_count != null || map.cancel_count != null) {
                    var count = "<tr><td>총 주문완료 수</td><td>" + map.complete_count + "</td></tr>"
                    count += "<tr><td>총 주문취소 수</td><td>" + map.cancel_count + "</td></tr>"

                    $('.storecount').append(count);

                    $.each(map.glancePrice, function (key, value) {
                        chartData_glance.push(value.totalPrice);
                        chartLabel_glance.push(value.date);
                        colorList.push(colorize())
                    });
                    $.each(map.weeklyPrice, function (key, value) {
                        chartData_weekly.push(value.totalPrice);
                        chartLabel_weekly.push(value.date);
                        colorList.push(colorize())
                    });
                    $.each(map.monthlyPrice, function (key, value) {
                        chartData_monthly.push(value.totalPrice);
                        chartLabel_monthly.push(value.date);
                        colorList.push(colorize())
                    });
                    console.log(chartData_monthly)
                    console.log(chartLabel_monthly)

                }//if
                new Chart(document.getElementById("bar-chart-glancePrice"), {
                    type: 'bar',
                    data: {
                        labels: chartLabel_glance,
                        datasets: [
                            {
                                backgroundColor : colorList,
                                data: chartData_glance
                            }
                        ]
                    },
                    options: {
                        responsive: false,
                        legend: { display: false },
                        title: {
                            display: true,
                            text: '일매출'
                        }
                    }
                });
                console.log(chartLabel_weekly)
                var myChart = new Chart(document.getElementById("bar-chart-weeklyPrice"), {
                    type: 'bar',
                    data: {
                        labels: chartLabel_weekly,
                        datasets: [
                            {
                                backgroundColor : colorList,
                                data: chartData_weekly
                            }
                        ]
                    },
                    options: {
                        responsive: false,
                        legend: { display: false },
                        title: {
                            display: true,
                            text: '주간매출'
                        }
                    }
                });
                new Chart(document.getElementById("bar-chart-monthlyPrice"), {
                    type: 'bar',
                    data: {
                        labels: chartLabel_monthly,
                        datasets: [
                            {
                                backgroundColor : colorList,
                                data: chartData_monthly
                            }
                        ]
                    },
                    options: {
                        responsive: false,
                        legend: { display: false },
                        title: {
                            display: true,
                            text: '월매출'
                        }
                    }
                });
            },
            error: function () {
                console.log("chart ajax실패!!!");
            }
        });
        function colorize() {
            var r = Math.floor(Math.random()*200);
            var g = Math.floor(Math.random()*200);
            var b = Math.floor(Math.random()*200);
            var color = 'rgba(' + r + ', ' + g + ', ' + b + ', 0.7)';
            return color;
        }

    })//ready



</script>
</body>
</html>