<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:src="@{~/js/jquery.min.js}"></script>
    <!-- chart.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
</head>
<body>
<canvas id="bar-chart" width="300" height="230"></canvas>

<script>


    $(document).ready(function () {
        // getTimeStamp();

        $.ajax({ // $.ajax 와 동일한 표현
            url: '/admin/chart',
            type: 'POST',
            dataType: 'json', //서버에서 보내줄 데이터 타입
            contentType: 'application/json;charset=utf-8',
            success: function (map) {
                console.log(map);
                if (map.complete_count != null || map.cancel_count != null) {
                    var count = "<tr><td>총 주문완료 수</td><td>" + map.complete_count + "</td></tr>"
                    count += "<tr><td>총 주문취소 수</td><td>" + map.cancel_count + "</td></tr>"

                    $('.storecount').append(count);
                }//if
                new Chart(document.getElementById("bar-chart"), {
                    type: 'bar',
                    data: {
                        labels: ["1월", "2월", "3월", "4월", "5월", "6월", "7월", "8월", "9월", "10월", "11월", "12월"],
                        datasets: [
                            {
                                label: "Population (millions)",
                                backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
                                data: [2478,5267,734,784,433]
                            }
                        ]
                    },
                    options: {
                        legend: { display: false },
                        title: {
                            display: true,
                            text: 'Predicted world population (millions) in 2050'
                        }
                    }
                });
            },
            error: function () {
                console.log("chart ajax실패!!!");
            }
        });

    })//ready



</script>
</body>
</html>