<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:src="@{~/js/jquery.min.js}"></script>
</head>
<body>
<!--<table>-->
<!--    <thead>-->
<!--    <tr>-->
<!--        <th>주문번호</th>-->
<!--        <th>주문총가격</th>-->
<!--        <th>주문시간</th>-->
<!--        <tr>-->
<!--            <th>주문메뉴</th>-->
<!--            <th>주문수량</th>-->
<!--        </tr>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody th:each="orderList : ${orderMenuList}">-->
<!--    <tr>-->
<!--        <td th:text="${orderList.order_id}"></td>-->
<!--        <td th:text="${orderList.price}"></td>-->
<!--        <tr th:each="orderMenus : ${orderList.getOrderMenus()}">-->
<!--            <td th:text="${orderMenus.menu.menu_name}"></td>-->
<!--            <td th:text="${orderMenus.count}"></td>-->
<!--            <td></td>-->
<!--        </tr>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--</table>-->

</body>
</html>