<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:src="@{~/js/jquery.min.js}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<h2>봉대박 스파게티</h2>
<!--    // SPAGHETTI, SPECIAL, PIZZA, SIDE-->

<button id="spaghetti">SPAGHETTI</button>
<button id="special">SPECIAL</button>
<button id="pizza">PIZZA</button>
<button id="side">SIDE</button>

<div class="menuSpaghetti" th:each="menus : ${allMenu}" th:if="${menus.category == 'SPAGHETTI'}">
    <div>
        <input type="hidden" th:value="${menus.menu_code}" class="menu_code">
        <input type="hidden" th:value="${menus.menu_name}" class="menu_name">
        <input type="hidden" th:value="${menus.menu_price}" class="menu_price">
        <img th:if="${menus.img_url != null}" th:src="@{/display(fileName=${menus.img_url})}" alt="250x250"><br>
        <img th:if="${menus.img_url == null}" th:src="@{~/img/noImg.png}" alt="250x250"><br>
        <td th:text="${menus.menu_name}" class="menu_name"></td>
        <br>
        <i class="fas fa-won-sign"></i>
        <td th:text="${menus.menu_price}" class="menu_price"></td>
        <br>
        <button type="button" class="itemBtn">장바구니</button>
    </div>
</div>

<div class="menuSpecial" th:each="menus : ${allMenu}" th:if="${menus.category == 'SPECIAL'}">
    <div>
        <input type="hidden" th:value="${menus.menu_code}" class="menu_code">
        <input type="hidden" th:value="${menus.menu_name}" class="menu_name">
        <input type="hidden" th:value="${menus.menu_price}" class="menu_price">
        <img th:if="${menus.img_url != null}" th:src="@{/display(fileName=${menus.img_url})}" alt="250x250"><br>
        <img th:if="${menus.img_url == null}" th:src="@{~/img/noImg.png}" alt="250x250"><br>
        <td th:text="${menus.menu_name}" class="menu_name"></td>
        <br>
        <i class="fas fa-won-sign"></i>
        <td th:text="${menus.menu_price}" class="menu_price"></td>
        <br>
        <button type="button" class="itemBtn">장바구니</button>
    </div>
</div>
<div class="menuPizza" th:each="menus : ${allMenu}" th:if="${menus.category == 'PIZZA'}">
    <div>
        <input type="hidden" th:value="${menus.menu_code}" class="menu_code">
        <input type="hidden" th:value="${menus.menu_name}" class="menu_name">
        <input type="hidden" th:value="${menus.menu_price}" class="menu_price">
        <img th:if="${menus.img_url != null}" th:src="@{/display(fileName=${menus.img_url})}" alt="250x250"><br>
        <img th:if="${menus.img_url == null}" th:src="@{~/img/noImg.png}" alt="250x250"><br>
        <td th:text="${menus.menu_name}" class="menu_name"></td>
        <br>
        <i class="fas fa-won-sign"></i>
        <td th:text="${menus.menu_price}" class="menu_price"></td>
        <br>
        <button type="button" class="itemBtn">장바구니</button>
    </div>
</div>
<div class="menuSide" th:each="menus : ${allMenu}" th:if="${menus.category == 'SIDE'}">
    <div>
        <input type="hidden" th:value="${menus.menu_code}" class="menu_code">
        <input type="hidden" th:value="${menus.menu_name}" class="menu_name">
        <input type="hidden" th:value="${menus.menu_price}" class="menu_price">
        <img th:if="${menus.img_url != null}" th:src="@{/display(fileName=${menus.img_url})}" alt="250x250"><br>
        <img th:if="${menus.img_url == null}" th:src="@{~/img/noImg.png}" alt="250x250"><br>
        <td th:text="${menus.menu_name}"></td>
        <br>
        <i class="fas fa-won-sign"></i>
        <td th:text="${menus.menu_price}"></td>
        <br>
        <button type="button" class="itemBtn">장바구니</button>
    </div>
</div>
<hr>

<div class="itemList">

</div>
총금액 : <input type="text" class="allPrice" readonly>

<button>주문하기</button>




<script>
    $(document).ready(function () {
        $('.menuSpaghetti').show();
        $('.menuSpecial').hide();
        $('.menuPizza').hide();
        $('.menuSide').hide();
        var idx = 0;
        var price = 0;


        $('.itemBtn').click(function (){

            var menu_code = $(this).siblings('.menu_code').val();
            var menu_name = $(this).siblings('.menu_name').val();
            var menu_price = $(this).siblings('.menu_price').val();

            // console.log(menu_code);
            // console.log(menu_name);
            // console.log(menu_price);
            // 장바구니 누를때 마다 그해당하는 값에 번호를 매긴다

            var str = "<div><tr>"
            str += `<input type="hidden" value="${menu_code}" class="menu_code2">`
            str += `<input type="hidden" value="${idx}" class="idx">`
            str += `<input type="hidden" value="${menu_price}" class="menu_price2">`
            str += "<td>"+ menu_name +"</td>"
            str += "<td>"+ menu_price +"</td>"
            str += "<td><button type='button' class='orderDelete'>주문삭제</button></td></tr></div>"


            price += parseInt(menu_price);
            console.log("총급액은 " + price)
            $('.itemList').append(str);
            ++idx;
            $('.allPrice').attr("value", price);


            $('.orderDelete').on("click", orderDelete);
        });

        function orderDelete() {
            // var item = $(this).$('.itemList').children('.item');
            // $('.itemList item').click(this);

            var num = $(this).siblings('.menu_code2').val();
            var idx = $(this).siblings('.idx').val();
            var miprice = $(this).siblings('.menu_price2').val();


            console.log("삭제하는 가격"+miprice)
            price -= parseInt(miprice);
            var items = $(this).parent("div");
            console.log("총급액은 " + price)
            items.remove();
            $('.allPrice').attr("value", price);
        }

        $('#spaghetti').click(function () {
            $('.menuSpaghetti').show();
            $('.menuSpecial').hide();
            $('.menuPizza').hide();
            $('.menuSide').hide();
        });

        $('#special').click(function () {
            $('.menuSpaghetti').hide();
            $('.menuSpecial').show();
            $('.menuPizza').hide();
            $('.menuSide').hide();
        });
        $('#pizza').click(function () {
            $('.menuSpaghetti').hide();
            $('.menuSpecial').hide();
            $('.menuPizza').show();
            $('.menuSide').hide();
        });
        $('#side').click(function () {
            $('.menuSpaghetti').hide();
            $('.menuSpecial').hide();
            $('.menuPizza').hide();
            $('.menuSide').show();
        });
    });
</script>
</body>
</html>