<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:src="@{~/js/jquery.min.js}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
          integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>
</head>
<body>
<h2>봉대박 스파게티</h2>
<!--    // SPAGHETTI, SPECIAL, PIZZA, SIDE-->

<button id="spaghetti">SPAGHETTI</button>
<button id="special">SPECIAL</button>
<button id="pizza">PIZZA</button>
<button id="side">SIDE</button>

<div class="menuSpaghetti" th:each="menus : ${allMenu}" th:if="${menus.category == 'SPAGHETTI'}">
    <div>
        <input type="hidden" th:value="${menus.menu_code}" class="menu_code">
        <input type="hidden" th:value="${menus.menu_name}" class="menu_name">
        <input type="hidden" th:value="${menus.menu_price}" class="menu_price">
        <img th:if="${menus.img_url != null}" th:src="@{/display(fileName=${menus.img_url})}" alt="250x250"><br>
        <img th:if="${menus.img_url == null}" th:src="@{~/img/noImg.png}" alt="250x250"><br>
        <td th:text="${menus.menu_name}" class="menu_name"></td>
        <br>
        <i class="fas fa-won-sign"></i>
        <td th:text="${menus.menu_price}" class="menu_price"></td>
        <br>
        <button type="button" class="itemBtn">장바구니</button>
    </div>
</div>

<div class="menuSpecial" th:each="menus : ${allMenu}" th:if="${menus.category == 'SPECIAL'}">
    <div>
        <input type="hidden" th:value="${menus.menu_code}" class="menu_code">
        <input type="hidden" th:value="${menus.menu_name}" class="menu_name">
        <input type="hidden" th:value="${menus.menu_price}" class="menu_price">
        <img th:if="${menus.img_url != null}" th:src="@{/display(fileName=${menus.img_url})}" alt="250x250"><br>
        <img th:if="${menus.img_url == null}" th:src="@{~/img/noImg.png}" alt="250x250"><br>
        <td th:text="${menus.menu_name}" class="menu_name"></td>
        <br>
        <i class="fas fa-won-sign"></i>
        <td th:text="${menus.menu_price}" class="menu_price"></td>
        <br>
        <button type="button" class="itemBtn">장바구니</button>
    </div>
</div>
<div class="menuPizza" th:each="menus : ${allMenu}" th:if="${menus.category == 'PIZZA'}">
    <div>
        <input type="hidden" th:value="${menus.menu_code}" class="menu_code">
        <input type="hidden" th:value="${menus.menu_name}" class="menu_name">
        <input type="hidden" th:value="${menus.menu_price}" class="menu_price">
        <img th:if="${menus.img_url != null}" th:src="@{/display(fileName=${menus.img_url})}" alt="250x250"><br>
        <img th:if="${menus.img_url == null}" th:src="@{~/img/noImg.png}" alt="250x250"><br>
        <td th:text="${menus.menu_name}" class="menu_name"></td>
        <br>
        <i class="fas fa-won-sign"></i>
        <td th:text="${menus.menu_price}" class="menu_price"></td>
        <br>
        <button type="button" class="itemBtn">장바구니</button>
    </div>
</div>
<div class="menuSide" th:each="menus : ${allMenu}" th:if="${menus.category == 'SIDE'}">
    <div>
        <input type="hidden" th:value="${menus.menu_code}" class="menu_code">
        <input type="hidden" th:value="${menus.menu_name}" class="menu_name">
        <input type="hidden" th:value="${menus.menu_price}" class="menu_price">
        <img th:if="${menus.img_url != null}" th:src="@{/display(fileName=${menus.img_url})}" alt="250x250"><br>
        <img th:if="${menus.img_url == null}" th:src="@{~/img/noImg.png}" alt="250x250"><br>
        <td th:text="${menus.menu_name}"></td>
        <br>
        <i class="fas fa-won-sign"></i>
        <td th:text="${menus.menu_price}"></td>
        <br>
        <button type="button" class="itemBtn">장바구니</button>
    </div>
</div>
<hr>

<div class="itemList">

</div>

<div class="total">
</div>
<button type="button" class="orderBtn">주문하기</button>


<script>
    $(document).ready(function () {
        $('.menuSpaghetti').show();
        $('.menuSpecial').hide();
        $('.menuPizza').hide();
        $('.menuSide').hide();

        var price = 0;
        var arr_title = []; // 봉골레파스타
        var content;
        var count = 1;
        var i = 0;


        $('.itemBtn').click(function () {

            var menu_code = $(this).siblings('.menu_code').val();
            var menu_name = $(this).siblings('.menu_name').val();
            var menu_price = $(this).siblings('.menu_price').val();

            i++;
            console.log(Object.entries(arr_title));
            const j = arr_title.findIndex(i => i.name == menu_name)//객체 배열의 인덱스 찾는법
            if (j != -1) {  //배열에 menu_title이 있는지 확인
                arr_title[j].rcount++;
                console.log("rcount" + arr_title[j].rcount)

                let str = ""
                str += "<tr class='a" + i + "'>"
                str += `<input type="hidden" value="${menu_code}" class="menu_code2">`;
                str += `<input type="hidden" value="${menu_name}" class="menu_name2">`;
                str += `<input type="hidden" value="${menu_price}" class="menu_price2">`;
                str += `<input type="hidden" value="${count}" class="count">`;
                str += "<td class>" + menu_name + "</td>"
                str += "<td class>" + menu_price + "&nbsp;&nbsp;</td>"
                str += "<td class='count'>" + arr_title[j].rcount + "</td>"
                str += "<td><button class='orderDelete' >삭제</button></td></tr>"
                $('.itemList').children().eq(j).replaceWith(str)
            } else {
                let str = "";
                str += "<tr class='a" + i + "'>";
                str += `<input type="hidden" value="${menu_code}" class="menu_code2">`;
                str += `<input type="hidden" value="${menu_name}" class="menu_name2">`;
                str += `<input type="hidden" value="${menu_price}" class="menu_price2">`;
                str += `<input type="hidden" value="${count}" class="count">`;
                str += "<td>" + menu_name + "</td>";
                str += "<td>" + menu_price + "&nbsp;&nbsp;</td>";
                str += "<td class='count'>" + count + "</td>"
                str += "<td><button class='orderDelete'>삭제</button></td></tr>";

                arr_title.push({
                    'name': menu_name,
                    'price': menu_price,
                    'rcount': count,
                    'menu_code': menu_code
                });
                $('.itemList').append(str);

            }
            price += parseInt(menu_price);

            content += "<td class='total' > 총 금액: " + price + "</td></tr>"
            console.log("총급액은 " + price);

            $('.total').replaceWith(content);

            $('.allPrice').attr("value", price);
            $('.orderDelete').off('click').on("click", orderDelete);
        });


        function orderDelete() {

            // var menu_code2 = $(this).siblings('.menu_code2').val();
            var menu_name2 = $(this).closest("tr").children().eq(4).text();
            var menu_price2 = $(this).closest("tr").children().eq(5).text();
            count = $(this).closest("tr").children().eq(6).text();
            console.log(menu_name2)
            console.log(menu_price2)
            console.log(count)
            $(this).closest("tr").remove();//삭제

            // 삭제시 총 금액
            price -= menu_price2 * count
            content += "<td class='total' > 총 금액: " + price + "</td></tr>"
            $('.total').replaceWith(content)

            const j = arr_title.findIndex(i => i.name == menu_name2)
            console.log(j);
            arr_title.splice(j, 1); //배열 삭제
            count = 1;
        }

        $(".orderBtn").click(function () {


            // console.log(Object.entries(arr_title));
            // total price 배열로 받는부분 위에서 같이 받아야함

            // const totalPrice = $('.total').text();
            //
            // const total = totalPrice.substring(7, 12);
            //
            // console.log(total);
            //
            // arr_title.push(total);
            // 객체를 배열로 바꾸는 방법
            var arr_data = Array.from(arr_title);

            console.log(arr_data);

            // 객체를 보내서 List<Map<String, String>> 변수 타입으로 값 받기

            $.ajax({
                url: '/order/orderMenu',
                type: 'post',
                dataType: "json",
                data: JSON.stringify(arr_data),
                contentType: 'application/json; charset=utf-8',
                success: function (result) {
                    console.log(result);
                    var IMP = window.IMP;
                    IMP.init('imp07054769');
                    // 원래는 amount 에 실제 결제금액 final_price를 넣어야 된다
                    IMP.request_pay({
                            pg: 'inicis', // version 1.1.0부터 지원.
                            pay_method: 'card',
                            merchant_uid: 'merchant_' + new Date().getTime(),
                            name: '주문명:결제테스트',
                            all_price: 100,
                            m_redirect_url: 'https://www.yourdomain.com/payments/complete'
                        },
                        function (rsp) {
                            if (rsp.success) {
                                console.log(rsp);
                                let payment = {
                                    imp_uid: rsp.imp_uid,
                                    merchant_uid: rsp.merchant_uid,
                                    pay_method: rsp.pay_method,
                                    all_price: 100,
                                    apply_num: rsp.apply_num,
                                    order_id : result
                                };
                                $.ajax({
                                    url: "/order/payment/",
                                    method: "post",
                                    data: JSON.stringify(payment),
                                    contentType: 'application/json; charset=utf-8',
                                }).done(function (data) {
                                    console.log(data);

                                    alert("주문번호는" + data.order_id + "입니다.");
                                    location.href = "/";
                                }).fail(function (error) {
                                    alert("실패하였습니다");
                                });
                            } else {
                                var msg = '결제에 실패하였습니다.';
                                msg += '에러내용 : ' + rsp.error_msg;
                            }
                        });
                },
                error: function () {
                    alert("실패")
                }
            })




        });

        $('#spaghetti').click(function () {
            $('.menuSpaghetti').show();
            $('.menuSpecial').hide();
            $('.menuPizza').hide();
            $('.menuSide').hide();
        });

        $('#special').click(function () {
            $('.menuSpaghetti').hide();
            $('.menuSpecial').show();
            $('.menuPizza').hide();
            $('.menuSide').hide();
        });
        $('#pizza').click(function () {
            $('.menuSpaghetti').hide();
            $('.menuSpecial').hide();
            $('.menuPizza').show();
            $('.menuSide').hide();
        });
        $('#side').click(function () {
            $('.menuSpaghetti').hide();
            $('.menuSpecial').hide();
            $('.menuPizza').hide();
            $('.menuSide').show();
        });
    });
</script>
</body>
</html>