<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:src="@{~/js/jquery.min.js}"></script>

</head>
<body>
<form id="updateForm">
    <input type="hidden" name="menu_code" id="menu_code" th:value="${menu.menu_code}">
    <input type="hidden" name="admin_code" id="admin_code" th:value="${menu.admin.admin_code}">
    메뉴이름 : <input type="text" id="menu_name" th:value="${menu.menu_name}"><br>
    메뉴가격 : <input type="text" id="menu_price" th:value="${menu.menu_price}"><br>
    메뉴 재고량 : <input type="text" th:value="${menu.stockQuantity}" name="stockQuantity" id="stockQuantity" required><br>
    메뉴 순서 : <select id="menu_priority" th:value="${menu.menu_price}"><br>

    <option th:value="${menu.menu_priority}">현재순서 : [[${menu.menu_priority}]]</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
</select><br>
    메뉴 카테고리 : <select id="category">
    <option th:value="${menu.category}">현재카테고리 : [[${menu.category}]]</option>
    <option value="SPAGHETTI">SPAGHETTI</option>
    <option value="SPECIAL">SPECIAL</option>
    <option value="PIZZA">PIZZA</option>
    <option value="SIDE">SIDE</option>
</select><br>
<!--    // 메뉴 상태 (0 등록중 , 1 등록 x) 마이페이지 수정가능-->
    메뉴 보이기 : <select id="menu_stat">
        <option value="0" th:selected="${menu.menu_stat}==0">현재메뉴상태 : 등록중</option>
        <option value="1" th:selected="${menu.menu_stat}==1">현재메뉴상태 : 등록되어있지않음</option>
    </select> <br>
    이미지 선택 : <input type="file">
    <button type="button" id="uploadBtn">업로드</button>
    <div id="uploadResult">
        <div>
            <img th:src="@{/display(fileName=${menu.img_url})}" alt="250x250">
            <button type="button" class="removeBeforeBtn" id="imgPath" th:value="${menu.real_img_url}">삭제</button>
        </div>
    </div>
    <button id="updateBtn" type="button">전송</button>
    <a href="/menuList">메뉴리스트</a>
</form>

<script>
    $(document).ready(function () {

        $('.removeBeforeBtn').click(function () {
            var target = $(this);
            var fileName = $('#imgPath').val();
            var targetDiv = $(this).closest("div");
            console.log("target" + target);
            console.log("fileName" + fileName);
            console.log("targetDiv" + targetDiv);

            $.post('/removeFile', {fileName: fileName}, function (result) {
                console.log(result);
                if (result === true) {
                    targetDiv.remove();
                }
            })
        });

        $('#updateBtn').click(function () {
            var admin_code = $('#admin_code').val();
            var menu_code = $('#menu_code').val();
            var menu_name = $('#menu_name').val();
            var menu_price = $('#menu_price').val();
            var img_url = $('#img_url').val();
            var menu_priority =  $('#menu_priority').val();
            var category =  $('#category').val();
            var menu_stat = $('#menu_stat').val();
            var real_img_url = $('#real_img_url').val();
            var stockQuantity = $('#stockQuantity').val();



            var data = {
                "admin_code": admin_code,
                "menu_code" : menu_code,
                "menu_name": menu_name,
                "menu_price": menu_price,
                "img_url": img_url,
                "menu_priority": menu_priority,
                "category": category,
                "menu_stat": menu_stat,
                "real_img_url": real_img_url,
                "stockQuantity": stockQuantity
            };

            console.log(data.admin_code)
            console.log(data.menu_code)
            console.log(data.menu_name)
            console.log(data.menu_price)
            console.log(data.img_url)
            console.log(data.menu_priority)
            console.log(data.category)
            console.log(data.menu_stat)
            console.log(data.real_img_url)
            console.log(data.stockQuantity)

            $.ajax({
                url: '/menuUpdate' + '?menu_code=' + menu_code,
                type: 'post',
                dataType: "json",
                data: JSON.stringify(data),
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    console.log(data);
                    alert("메뉴 수정하셨습니다.");
                    location.href = "/menuList";
                },
                error: function () {
                    alert("에러 입니다")
                }
            })

        });

        $('#uploadBtn').click(function () {

            var formData = new FormData();
            var inputFile = $("input[type='file']");
            var files = inputFile[0].files;

            console.log(files);

            formData.append("file", files[0]);


            // 실제 업로드 부분
            $.ajax({
                url: '/uploadFile',
                enctype: 'multipart/form-data',
                processData: false,
                contentType: false,
                data: formData,
                type: "POST",
                dataType: "json",
                success: function (result) {
                    console.log(result);
                    showUploadedImage(result);
                    // showUploadedImages(result);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(textStatus);
                    alert("실패");

                }
            }); // ajax end

            function showUploadedImage(menuImage) {
                console.log(menuImage + "====================================");
                var divArea = $("#uploadResult");

                // var basic_url = "C:\\menuFile";
                // var folderPath = menuImage.folderPath;
                // var filename = menuImage.fileName;
                var thumbnailURL = menuImage.thumbnailURL;
                var img_url = thumbnailURL;
                var real_img_url = menuImage.imageURL;

                console.log(img_url);
                var str = "";
                str += "<div>";
                str += "<input type='hidden' id='img_url' value='" + img_url + "'>"
                str += "<input type='hidden' id='real_img_url' value='" + real_img_url + "'>"
                str += "<img src='/display?fileName=" + menuImage.thumbnailURL + "'>";
                str += "<button class='removeBtn' data-name='" + menuImage.imageURL + "'>삭제</button>";
                str += "</div>"
                divArea.append(str);
            }
        });

        // 사진 삭제
        $('#uploadResult').on("click", ".removeBtn", function (e) {

            var target = $(this);
            var fileName = target.data("name");
            var targetDiv = $(this).closest("div");
            console.log(fileName);

            $.post('/removeFile', {fileName: fileName}, function (result) {
                console.log(result);
                if (result === true) {
                    targetDiv.remove();
                }
            })
        })

    });

</script>
</body>
</html>